* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Open Sans", sans-serif;
}


body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh; /* Altura */
   width: 100vw; /* largura */
   background-image: url("https://source.unsplash.com/1600x900/?landscape");
}

.caixa-maior {
   background-color: #000000; /* troca cor de fundo */
   width: 95%; /* largura */
   max-width: 420px; /* largura maxima */
   opacity: 0.5;
   padding: 20px;
   border-radius: 30px;
}

input {
   border: none; /* borda do elemento */
   outline: none; /* linha quando seleciona o elemento */
   padding: 10px; /* espaçamento interno */
   border-radius: 25px; /* arredonda as bordas */
   font-size: 20px;
   background-color: #000000;
   color: #ffffff;
   width: calc( 100% - 100px);
}

button {
   border: none;
   outline: none;
   padding: 10px;
   border-radius: 50px;
   background-color: #c6c669;
   float: right;
   cursor: pointer;
}

button:hover {
   background-color: #ffffff;
}

.lupa {
   height: 25px;
}

h2 {
   color: white;
   font-size: 30px; /* tamanho texto */
   margin-top: 30px;
}

.temp {
   color: white;
   font-size: 25px;
   margin-top: 30px;
}

.descricao {
   color: white;
   margin-top: 30px;
}

.umidade {
   color: white;
   margin-top: 30px;
}
